%YAML:1.0

# SDVL configuration file

#--------------------------------------------------------------------------------------------
# Camera Parameters
#--------------------------------------------------------------------------------------------

Camera.width: 640
Camera.height: 480
Camera.fx: 517.3
Camera.fy: 516.5
Camera.u0: 318.6
Camera.v0: 255.3
Camera.d1: 0.2624
Camera.d2: -0.9531
Camera.d3: -0.0054
Camera.d4: 0.0026
Camera.d5: 1.1633

#--------------------------------------------------------------------------------------------
# Video Parameters
#--------------------------------------------------------------------------------------------

# Type: 0 read real camera, 1 read consecutive images
Video.type: 1
# Configure real camera
Video.device: 0     #/dev/videox
Video.width: 640
Video.height: 480
Video.fps: 30
# Read sequential images from file
Video.path: "/path/to/images/"
Video.filename: "files.txt"

#--------------------------------------------------------------------------------------------
# SDVL Parameters
#--------------------------------------------------------------------------------------------

# Relevant parameters
SDVL.cell_size: 32                # Cell size in image
SDVL.min_avg_shift: 50            # Min average shift between features to initialize
SDVL.max_matches: 150             # Max matches needed
SDVL.max_keyframes: 100           # Max number of keyframes saved
SDVL.use_orb: 0                   # Use ORB descriptors

# Ordinary parameters
SDVL.pyramid_levels: 5            # Number of pyramid levels
SDVL.min_keyframe_its: 30         # Min number of iterations before creating a new keyframe
SDVL.min_matches: 20              # Min matches needed
SDVL.max_failed: 15               # Max failed projections to delete a point
SDVL.max_search_keyframes: 5      # Max number of keyframes used to compare matches
SDVL.max_optim_pose_its: 10       # Max number of iterations for pose optimization
SDVL.max_ransac_points: 5         # Max number of selected points in RANSAC
SDVL.max_ransac_its: 100          # Max number of RANSAC iterations
SDVL.threshold_converged: 0.1     # Theshold of convergence
SDVL.min_init_corners: 50         # Min corners used to initialize
SDVL.inlier_error_threshold: 2.0  # Error threshold to be an inlier
SDVL.map_scale: 1.0               # Map scale
SDVL.max_alignLevel: 4            # Max level in pyramid
SDVL.min_alignLevel: 2            # Min level in pyramid
SDVL.max_img_align_its: 30        # Max image align iterations
SDVL.align_patch_size: 4          # Patch size
SDVL.scale_min_dist: 0.25         # Min distance to point compared to map scale
SDVL.lost_ratio: 0.7              # Lost points ratio to create new Keyframes
SDVL.patch_size: 8                # Path size for matches
SDVL.max_align_its: 10            # Max interations allowed to align point
SDVL.search_size: 6               # Search size around each pixel in deep search
SDVL.orb_size: 31                 # ORB descriptor size
SDVL.max_fast_levels: 3           # Max number of pyramid levels in FAST
SDVL.fast_threshold: 10           # FAST threahold
SDVL.min_feature_score: 50        # Min feature Shi Tomasi score
SDVL.num_features: 1000           # Number of features detected per frame
