# SDVL configuration file

camera = {
  width   = 640;
  height  = 480;
  #fx      = 256.0;
  #fy      = 254.4;
  #u0      = 319.5;
  #v0      = 239.5;
  fx      = 277.524;
  fy      = 291.68;
  u0      = 312.474;
  v0      = 240.036;
  d1      = 0.0;
  d2      = 0.0;
  d3      = 0.0;
  d4      = 0.0;
  d5      = 0.0;
};

video = {
  # Type: 0 read real camera, 1 read consecutive images
  type    = 1;   
  path     = "/../tum/sequence_30/images/";
  filename = "files.txt";
};

sdvl = {
  cell_size = 20;  
  min_avg_shift = 5;    
  max_matches = 200;
  max_keyframes = 200; 
  use_orb = false;

  fast_threshold = 10;
  lost_ratio = 0.4; 
};




