%YAML:1.0

# SDVL configuration file

#--------------------------------------------------------------------------------------------
# Camera Parameters
#--------------------------------------------------------------------------------------------

Camera.width: 640
Camera.height: 480
Camera.fx: 481.2
Camera.fy: 480.0
Camera.u0: 319.5
Camera.v0: 239.5
Camera.d1: 0.0
Camera.d2: 0.0
Camera.d3: 0.0
Camera.d4: 0.0
Camera.d5: 0.0

#--------------------------------------------------------------------------------------------
# Video Parameters
#--------------------------------------------------------------------------------------------

# Type: 0 read real camera, 1 read consecutive images
Video.type: 1 
Video.path: "/../iclnuim/3/" 
Video.filename: "files.txt"

#--------------------------------------------------------------------------------------------
# SDVL Parameters
#--------------------------------------------------------------------------------------------

SDVL.cell_size: 32
SDVL.min_avg_shift: 1
SDVL.max_matches: 300
SDVL.max_keyframes: 100 0
SDVL.use_orb: 1

SDVL.fast_threshold: 5
SDVL.lost_ratio: 0.4
SDVL.min_keyframe_its: 30
SDVL.num_features: 1000
